body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page, .home-page {
  background-color:#a9aca9; 
  width: 100%;
  height: 900px;
  padding-left: 50px;
}

.home-page {
  display: flex;
  
}

.page h1 {
  padding-top: 20px;
}

.components {
  background-color: rgb(138, 53, 67);
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #2f2235;
  padding-left: 20px;
}

.header p {
  color: white;
}

.homepage-title {
  color: white;
  font-weight:bold;
}

.homepage-rewards h2 {
  padding-top: 30px;
  margin-bottom: 20px;
  color: #2f2235; 
}

.teacher-page {
  display:flex;
  flex-direction: row;
}

.login-section {
  width: 40%;
}

.login-section p {
  margin-left: 40px;
  font-size:large;
}

.login-title, .reward-title, .select-title, .entry-title {
  margin-left: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
  color: #2f2235;
}

.select-students {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.login-form, .signup-form, .entry-form {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 20px;
}

.login-form input, .login-form button  {
  width: 60%;
  height: 50px;
  font-size: 20px;
  margin-left: 20px;
}

.signup-form input, .entry-form input {
  width: 30%;
  height: 50px;
  font-size: 20px;
  margin-left: 20px;
}

.signup-form button, .entry-form button {
  width: 20%;
  margin-left: 80px;
  border-radius: 8px;
  /* border-width: 2px; */
  color: white;
}

.signup-section {
  display: flex;
  
}

.signup-section1 {
  width: 70%;
}

.signup-section2 {
  width: 20%;
}

.teacher-quote {
  margin-top: 20px;
  width: 90%;
  height: 300px;
}

.login-form h5, .signup-form h5, .entry-form h5{
  margin-left: 20px;
}

.login-form input, .signup-form input, .entry-form input {
  margin-bottom: 10px;
}

.login-form button, .signup-form button, .entry-form button {
  background-color:#60495a;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

.teacher-list {
  width: 70%;
  margin-left: 30px;
}

.teacher-card {
  height: 70px;
  width: 70%;
  background-color:#bfc3ba;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style:inset;
  
}

.teacher-card p {
  padding-top: 15px;
  font-size: 18px;
}

.student-buttons {
  padding-top: 100px;
  display: flex;
  justify-content:center;

}

.choice {
  margin-right: 50px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
}

.single-button {
  background-color: #bfc3ba;
  margin-left: 40px;
  margin-top: 5px;
}

.choice-image {
  height: 300px;
  width: 300px;
}
.prize-list {
  display: flex;
  padding: 10px;
  justify-content: left;
  /* margin-top: 30px; */
}

.prize-card {
  background-color:#bfc3ba;
  margin: 20px;
  padding: 10px;
  height: 200px;
  width: 300px;
  border-radius: 8px;
  color: #2f2235;
  border-style:outset

}

.prize-button {
  margin-left: 10px;
  background-color:#a9aca9;
  margin-bottom: 10px;
}

.reward-button {
  width: 25%;
  margin-left: 30px;
  background-color:#60495a;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  width: 200px;
  height: 100px;
  font-size:larger;
  border-style:groove;
  border-radius: 8px;
}

.footer {
  text-align: center;
  background-color: #2f2235;
  height: 50px;
  color: white;
}
