body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: rgb(46, 161, 227);
}

.container {
  height: 800px;
  padding: 20px;
}

.homepage-title {
  color:rgb(46, 161, 227);
  font-weight:bold;
}

.teacher-card {
  height: 100px;
  width: 50%;
  background-color:rgb(148, 193, 218);
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}
