body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: rgb(46, 161, 227);
}

.navbar {
  height: 50px;
  background-color:rgb(148, 193, 218);
}

.navbar-ul {
  
  display:flex;
  font-size: 20px;
  flex-direction: row;
  list-style: none;
  justify-content: left;
}

.navbar-li {
  padding-left: 5px;
  padding-right: 45px;
}

/* .nav-link-active {

} */

.main-section {
  height: 800px;
  padding: 10px;
}

.homepage-title {
  color:rgb(46, 161, 227);
  font-weight:bold;
}

.teacher-page {
  display:flex;
  flex-direction: row;
}

.signup-section {
  width: 30%;
}

.signup-title {
  margin-left: 10px;
}

.signup-form {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 10px;
}

.signup-form input, button {
  width: 70%;
  height: 50px;
  font-size: 20px;
  margin:5px;
}

.signup-form button {
  background-color:rgb(148, 193, 218);
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.teacher-list {
  width: 70%;
  margin-left: 30px;
}

.teacher-card {
  height: 70px;
  width: 50%;
  background-color:rgb(148, 193, 218);
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}
